@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .width-80 {
    @apply w-[80%] mx-auto;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .hover-70 {
    @apply hover:opacity-60 duration-200 active:opacity-100 cursor-pointer
  }
}

* {
  scroll-behavior: smooth;
  margin: 0;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.active-menu::before{
  content: " ";
  border-bottom-color: #00abc5;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 11px;
  left: 46%;
  top: 38px;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s 
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::before{
  background-color: #dddddd;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
  animation: skeletonLoading 1s infinite alternate;
}

.stick-css li {
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
  background-color: rgb(186, 186, 186);
  transition-duration: 200ms;
}

li.slick-active {
  background-color: #00abc5;
  width: 30px !important;
  border-radius: 10px !important;
  transition-duration: 200ms;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

@keyframes skeletonLoading {
  from {
    left: -50%;
  } to {
    left: 50%;
  }
}